
/* --------------------Reset----------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button,
input,
textarea,
select {
    font: inherit;
}

/* ------------------global-variables------------------ */

:root {

    --clr-primary: hsl(232, 53%, 17%);
    --clr-profile-border: hsl(231, 100%, 97%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-300: hsl(0, 0%, 100%);

    --transition-time: 120ms;

    --shadow: 0px 4px 10px -2px rgba(0, 0, 0, .2);
    --radius: 1rem;

}

/* -------------------stage-setup---------------------- */

body {
    max-width: 100vw;
    min-height: 100vh;
    font-size: clamp(.9rem, 1vw + .5rem, 1.2rem);
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    
    background-color: hsl(231, 29%, 82%);
    color: var(--clr-primary);

    font-family: 'Roboto', system-ui;

}


/* --------------------MISC------------------- */

.shadow {
    box-shadow: var(--shadow);
}
.UPPERCASE {
    text-transform: uppercase;
}
:where(.bold) { /* ':where' to not change specificity of color */
    color: var(--clr-neutral-900);
    font-weight: bold;
}
.align_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------buttons--------------------- */

button {
    box-sizing: content-box;
    border: 2px solid transparent;
    border-radius: 10rem;
    width: 14ch;
    aspect-ratio: 4/1;
    background-color: var(--clr-primary);
    color: var(--clr-neutral-100);
}
.click_effect {
    transition: scale var(--transition-time), box-shadow var(--transition-time);
}
.click_effect:hover {
    cursor: pointer;
    scale: 1.03;
}

/* ---------------------------------------------- */

.component {
    display: grid;
    place-items: center;
}


.profile_list {
    width: 13em;
    height: 100%;
    background-color: var(--clr-primary);
}
.profile_list,
.profile_card,
.profile_backdrop {
    grid-column: 1;
    grid-row: 1;
    border-radius: var(--radius);
}

.profile_content {
    display: grid;
    justify-items: center;
    padding-bottom: 2rem;
    gap: 1rem;
}

.profile_card,
.profile_backdrop {

    width: 17em;
    aspect-ratio: 2/3;
    height: 80%;

}

.profile_card {
    z-index: 1;

    display: grid;
    grid-auto-rows: min-content 1fr;
    padding: 1.5rem;
    padding-bottom: 0;

    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(50px);
}

.profile_pic img {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn-icons-png.flaticon.com/512/149/149071.png?w=826&t=st=1691414495~exp=1691415095~hmac=72cd192bed5c9865ecda8d19aadf735694eee3d9d062bc7c8ed825e526362fc5);
    background-size: contain;
}

.profile_pic {
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 10rem;
    overflow: hidden;
    border: 8px solid var(--clr-profile-border);
}

.toggle_expand {
    justify-self: flex-end;
}

.profile_card p {
    padding-top: .3em;
    font-size: .8em;
}

.profile_backdrop {
    background-color: white;
    overflow: hidden;
    z-index: 0;

    display: grid;
    margin: 2px;

    position: relative;
}

.profile_backdrop div {
    border-radius: 100rem;
}

.profile_backdrop div:nth-child(1) {
    background-color: hsla(160, 100%, 50%, .8);
    width: 9em;
    height: 8em;
    position: absolute;
    left: 0;
    bottom: -.5em;
}
.profile_backdrop div:nth-child(2) {
    background-color: #0044ff;
    width: 6em;
    height: 6em;
    position: absolute;
    top: 15%;
    right: 7%;
}

.toggle_expand {
    scale: .7;
    width: 2em;
    aspect-ratio: 1/1;
    position: relative;
}
.toggle_expand:hover {
    cursor: pointer;
}

.toggle_expand div{
    grid-column: 1;
    grid-row: 1;
    background-color: var(--clr-primary);
    width: 2em;
    height: .20em;
    border-radius: 100rem;
    transform-origin: center;
    position: absolute;
    top: 50%;
    transition: transform .4s, height 1s;
}


.toggle_expand[data-toggle='0'] div:nth-child(1) {
    height: .15em;
    transform: translateY(.3em) rotate(0);
}
.toggle_expand[data-toggle='0'] div:nth-child(2) {
    height: .15em;
    transform: translateY(-.3em) rotate(0);
}

.toggle_expand[data-toggle='1'] div:nth-child(1) {
    transform: rotate(-45deg);
}
.toggle_expand[data-toggle='1'] div:nth-child(2) {
    transform: rotate(45deg);
}

